{% extends 'base.html' %}

{% block css %}
<link href={{url_for('static', filename='css/login.css')}} rel="stylesheet">
{% endblock %}

{% block content %}
<form class="form-signin" action="">
        <h2 class="form-signin-heading">sign in</h2>
        <label class="sr-only">UserName</label>
        <input id="username" class="form-control" placeholder="Username" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#submit").click(function(event){
      event.preventDefault();
      var user = $("#username").val();
      var password = $("#password").val();
      if(user == '' || password == ''){
        alert('user and password field required!')
      }else{
        $.ajax({
          url: "{{ url_for('check_login') }}",
          data: {'user': user, 'password': password},
          type: 'POST',
          success: function(data){
            if(data.msg == 'ok'){
              window.location.href = '/';
            }else{
              alert(data.msg);
            }
          }
        });
      }
    });
  });
</script>
{% endblock %}
