<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo RESTful API TEST</title>
  </head>
  <body>
    <form enctype="application/json" method="post">
      <label>title:</label>
      <input type="text" name="title"><br>
      <label>description:</label>
      <input type="texteara" name="description"><br>
      <button type="submit">add task</button>
    </form>

    <ol id="container"></ol>

    <script>
      var container = document.getElementById('container');
      // add a task
      var add_child = function(task) {
        var li = document.createElement('li');
        li.innerText = task["title"] + " " + task["description"];
        container.appendChild(li);
      };
      // transfor formdata to json
      var convert_formdata_to_json = function(formdata) {
        var object_data = {};
        for(var entry in formdata.entries()){
          object_data[entry[0]] = entry[1];
        }
        return JSON.stringify(object_data);
      };
      window.onload = function(){
        var xhr = new XMLHttpRequest();

        xhr.open('GET', 'todo/api/v1.0/tasks/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send();

        xhr.addEventLister('loadend', function(){
          if(xhr.status == 200){
            var res = JSON.parse(xhr.responseText);
            res["task"].map(add_child);
          }
        }, false);
      };
    </script>
    <script>
      var formobj = document.querySelector('form');
      formobj.addEventLister('submit', function(event){
        event.preventDefault();
        var xhr2 = new XMLHttpRequest();
        xhr2.open('POST', '/todo/api/v1.0/tasks/');
        xhr2.setRequestHeader('Content-Type', 'application/json');
        xhr2.send(convert_formdata_to_json(new FormData(formobj)));

        xhr2.addEventLister('loadend', function(){
          if(xhr.status == 201){
            var res2 = JSON.parse(xhr2.responseText);
            res2["task"].map(add_child);
          }
        }, false);
      }, false);
    </script>
  </body>
</html>
