{% extends 'base.html' %}

{% block content %}
<h3>welcome to todo1.0, {{ user }}</h3>
<p>this is todo1.0, you can create a new todo list to record your life or work!</p>
<br>
<br>
<div class="row">
  <div class="col-md-6">
      <form class="form-horizontal" method="post" action="/add_todo">
      <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label">Todo</label>
        <div class="col-md-4">
        <input id="todo" placeholder="Insert your todo" class="form-control input-md" required="" type="text" name="todo">
        <span class="help-block"> </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Description</label>
        <div class="col-md-4">
        <textarea id="describe" class="form-control input-md" rows="3" name="describe"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"> </label>
        <div class="col-md-4">
          <button id="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </from>
  </div>
  <div class="col-md-6">
    <table id="todo-table" class="table table-responsive no-padding">
      <thead>
        <tr>
          <th>todo</th>
          <th>description</th>
          <th>time</th>
          <th>finlish</th>
        </tr>
      <thead>
      <tbody>
        {%for todo in todo_list %}
        <tr>
        <td>{{todo.todo}}</td>
        <td>{{todo.description}}</td>
        <td>{{todo.created}}</td>
        <td><button class="btn btn-primary" onclick="del_todo('{{user}}', {{ todo.id }})">done</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
function del_todo(user, todoId){
  window.location.href = '/done_todo?user=' + user + '&id=' + todoId;
}
/*
  done_todo = function(obj, todo) {
    ajaxSend('/done_todo', {'todo': todo}, function(){
      obj.parentNode.parentNode.remove();
    },'POST')
  }
  del_todo = function(obj, id) {
    ajaxSend('/del_todo', {'id', id}, function(){
      obj.parentNode.parentNode.remove();
    },'POST')
  }
  $('document').ready(function(){
    $("#submit").click(function(event){
      event.preventDefault();
      var todo = $("#todo").val();
      var describe = $("#describe").val();
      if(todo == ''){
        alert('todo not allowed empty!');
      }else{
        ajaxSend('/add_todo', {'todo': todo, 'describe': describe}, function(data){
          if(data.msg == 'ok'){
            $("#todo-table").append("<tr>" +
              "<td>" + todo + "<td>" +
              "<td>" + Date().toString() + "<td>" +
              "<td>" + describe + "</td>" +
              "<td><button onclick='done_todo(this, \""+ todo + "\")'>done</button></td>");
          }else{
            alert(data.msg);
          }
        },'POST');
      }
    });
  });
  */
</script>
{% endblock %}
